@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1A7FBD;
}

picture{
    display: block;
    text-align: center;
    padding: 10px;
}

picture > a > img{
    width: 40vw;
}

i#burguer{
    background-color: #1A7FBD;
    width: 100vw;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 8px;
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(to left, #1A7FBD, #FFF , #1A7FBD) 0 0 100% 0/2px 0 2px 0 ;
}

i#burguer:hover{
    background-color:rgba(255, 255, 255, 0.205);
    color: #1A7FBD;}

menu{
    display: none;
    padding-inline-start: 0px;
}
menu > ul{
    list-style-type: none;
}

li > a{
    font-size: 17px;
    text-shadow: .7px .7px 0.5px black;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #1A7FBD;
    color: white;
    border-top: 1px solid white;
}

li > a:hover{
    background-color: #29adff;
}

main{
    background-color: #1A7FBD;
}

div#background1{
    background-image: url(Imagens/bannertopo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center top;
}

div#formulario {
    position: relative;
    background-color: white;
    border-radius: 15px;
    height: 25em;
    transform: translate(-2px, 321px);
    margin: 10px;
}

#formulario > h1{
    font-size: 1em;
    color: lightgray;
    padding: 18px 14px 10px 14px;
}

#formulario > h2{
    color: #1A7FBD;
    font-size: smaller;
    padding-bottom: 4px;
    padding-left: 14px;
}

.login{
    border: 1px solid black;
    border-radius: 6px;
    margin: 4px 5px;
}

.login > label > img{
    width: 15px;
}

.login > label {
    top: 2px;
    position: relative;
    padding-left: 4px;
}

.login > input{
    height: 20px;
}

.login#iest{
    height: 20px
}

.login > input, select {
    padding: 1px;
    font-size: 1em;
    width: calc(100% - 34px);
    border: none;
}

.group > .program, .group > .dev{
    display: inline-block;
}

.program{    
    padding: 5px 0px;
    margin-top: 2px;
    font-size: 0.65em;
    background-color: #1A7FBD;
    color: white;
    border: 1px solid white;
    width: 100%;
    text-align: center;
}

.program > legend{
    padding-left: 13px;
    padding-bottom: 5px;
}
.program > input{
    margin: 0px 5px;
}

.program > div{
    padding-top: 9px;
    display: inline-block;
}

div.dev > legend{
    font-size: .7em;
    color: #1A7FBD;
    margin-top: 8px;
    margin-bottom: 8px;
}

.dev {
    width: 99.4%;
    background-color: white;
    text-align: center;
}
.dev > div{
    font-size: .8em;
}

.dev > div > label{
    padding-right: 20px;
}

#escolha{
    margin: 10px;
    border-bottom: .7px solid lightgray;
}

div.enviar > p{
    color: #1A7FBD;
    font-size: .5em;
    padding: 2px 0px;
}

div#background2{
    background-image: url(Imagens/dev.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1A7FBD;
    background-position: center center;
}

div#parte2 {
    margin-top: 95%;
}
#parte2 > div.texto >h1 {
    padding: 12px;
    color: #A4DCFF;
    font-size: 1.7em;
}

#parte2 > div.texto > p {
    color: white;
    font-size: .9em;
    padding: 0px 12px;
}

#article2{
    background-color: #fff;
}

#background3{
    background-image: url(Imagens/Container2.png);
    height: 118vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#problema > h1{
    font-size: 1.7em;
    background: linear-gradient(to right, #1A7FBD, #29adff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px;
}

#problema > h2{
    font-size: 1.2em;
    padding: 10px 0px;
    border-bottom: lightgray;
    border-bottom-width: .7px;
    border-bottom-style: solid;
    margin: 0px 10px;
}

#problema > p{
    font-size: .9em;
    padding: 10px;
}

article > div#box{
    border-radius: 15px;
    box-shadow: 0px 12px 20px 0px #bfbfbf;
    text-align: center;
    margin: 32px 18px;
}

div#box > h3, div#box > p {
    padding: 10px;
}

div#jornada{
    padding: 10px;
}

div#jornada > div{
    display: inline-block;
}

div#jornada > div.vectorinv, div.vector2{
    background-image: url(Imagens/Elements/Vector2.png);
    width: 22%;
    height: 3vh;
    background-repeat: no-repeat;
}

div#jornada > div.jornada{
    background: linear-gradient(to right, #1A7FBD, #29adff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7em;
}

div#jornada > div.vectorinv{
    transform: scaleX(-1);
}

div.boxjornada > div.grupos{
    background-color: #1A7FBD;
    color: #FFF;
    font-size: .8em;
    border-radius: 5px;
    margin: 16px 5px;
    box-shadow: 0px 6px 14px 0px #00000052;
}

div.boxjornada > div.grupos > img{
    background-color: #FFF;
    border-radius: 5px;
    width: 29%;
    border: 11px solid white;
    margin: 10px;
    margin-top: 14px;
}

div > div.boxjornada{
    display: inline-block;
    width: 49%;
}

div.boxjornada > div.grupos > p{
    width: 55%;
    font-size: .9em;
    transform: translate(0%, -112%);
    height: 12px;
}
div.grupos > p, div.grupos > img{
    display: inline-block;
}

img.groupimg {
    padding: 1vh 0px;
}

div#processoseletivo{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 55px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

div#processoseletivo > a{
    color: white;
    text-decoration: none;
}

div#processoseletivo > a > img#botaoprocesso{
    width: 9%;
    transform: translateY(26%);
    margin-left: 5px;
}

#imgprocesso{
    background-image: url(Imagens/Elements/Vector1.png);
    margin: 19px 66px;
    height: 9vh;
    background-repeat: no-repeat;
}

#article3{
    background-color: #1A7FBD
}

.objetivos > h1{
    color: #fff;
    text-align: center;
}

 div.objetivos > div#boxobjetivos{
    border-radius: 15px;
    box-shadow: 0px 12px 20px 0px #505050;
    text-align: center;
    margin: 32px 18px;
    background-color: #fff;
}

div#objetivos > h3, div#objetivos > p {
    padding: 10px;
}